<form>
  <table mat-table [dataSource]="addresses" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Id Column -->
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.addressId }}</td>
    </ng-container>

  
    <!-- Name Column -->
    <ng-container matColumnDef="AddressN">
      <th mat-header-cell *matHeaderCellDef>Endereço</th>
      <td mat-cell *matCellDef="let element">{{ element.addressName }}</td>
    </ng-container>
  
    <!-- CEP Column -->
    <ng-container matColumnDef="CEP">
      <th mat-header-cell *matHeaderCellDef>CEP</th>
      <td mat-cell *matCellDef="let element">{{ element.cep }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>   
      <td mat-cell *matCellDef="let element"> 
        <button onclick="Edit(element.addressId)" mat-raised-button >Editar</button> 
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div>
    <p></p>
    <button name ="register" (click)="NavigateToAddAddress()" type="register" mat-raised-button color="accent">Novo Endereço</button>
  </div>
</form>

