<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  Preencha seus dados <p></p>
  <div class="d-flex flex-row bd-highlight mb-3">
    <div class = "d-flex align-items-start bg-light mb-3" style="height: 100px;">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput id="email"  formControlName="Mail">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput id="password"  formControlName="Password">
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex flex-row bd-highlight mb-3">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput id="name"  formControlName="Name">
      </mat-form-field>  
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput id="cpf"  formControlName="CPF">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Celular</mat-label>
        <input matInput id="phone"  formControlName="Phone">
      </mat-form-field> 
    </div>
    <div class = "d-flex align-items-end bg-light mb-3" style="height: 100px;">
      <mat-form-field appearance="fill">
        <mat-label>Endereço</mat-label>
        <input matInput id="address"  formControlName="AddressName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>CEP</mat-label>
        <input matInput id="cep"  formControlName="CEP">
      </mat-form-field>
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
      <button mat-raised-button>Registrar</button>
    </div>
</form>